/* Para primeira imagem de fundo, efeito Parallax. */
.header-site {
    background-image: url(../img/secondBackground.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 130px;
    padding-bottom: 130px;
}
/* Para primeira imagem de fundo, efeito Parallax. */


/* Para posição da descrição da FISICJR. */
.positionDesc{
    margin-top: 20px;
}
/* Para posição da descrição da FISICJR. */


/* Para segunda imagem de fundo, efeito Parallax. */
.content-site{
    background-image: url(../img/midle.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 200px;
    padding-bottom: 200px;
}
/* Para segunda imagem de fundo, efeito Parallax. */


/* Para terceira imagem de fundo, efeito Parallax. */
.contato-area{
    background-image: url(../img/firstBackground.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: #ffffff;
    padding-top: 50px;
    padding-bottom: 550px;
}
/* Para terceira imagem de fundo, efeito Parallax. */


/* Centralizar imagem. */
.centralImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
/* Centralizar imagem. */


/* Centralizar imagem, caso especial do logo inicial. */
.centralImageLogoStart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
}
/* Centralizar imagem, caso especial do logo inicial. */


/* Definições do rodapé. */
.footer-site{
    background-color: #333333;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* Definições do rodapé. */

